/* import the FSEX300 font */
@font-face {
    font-family: 'Fixedsys';
    src: url('FSEX300.ttf');
}
:root{
    --main-color:#0084ff;
}

body{
    background-color:var(--main-color);
    color:white;
    font-family: 'Fixedsys';
}
a{
    color:rgb(184, 184, 184);
}
#container{
    width:720px;
    margin:30px auto;
    text-align: center;
    /* border:1px solid black; */
}
#hub-title{
    font-size:40px;
    font-weight:bold;
    margin:10px auto 100px auto;
    border:3px solid white;
    padding:4px;
    background-color: white;
    color:var(--main-color);
}
#game-row{
    width:720px;
    display:flex;
}
#game-instructions{
    margin-top:10px;
    font-size:18px;
    line-height: 20px;;
}
.game-pick{
    border:5px solid #00000000;
    padding:20px;
    width:180px;
    margin:auto;
    float:left;
}
.game-pick:hover{
    border:5px solid white;
    cursor: pointer;
}
.game-title{
    font-size:24px;
    font-weight:bold;
    margin-bottom:30px;
    width:100%;
}
.game-icon img{
    width:150px;
    height:150px;
    margin:auto;
}

#game-letter{
    width:100px;
    font-size:24px;
    line-height: 50px;
    text-align:center;
    font-weight:bold;
}

#footer{
    text-align: center;
    /* border:1px solid red; */
    margin-top:35px;
    margin-bottom:10px;
    display:flex;
}
.foot-item{
    margin:auto;
    width:100px;
    font-size:20px;
    padding:2px 10px;
    border:2px solid #00000000;
    /* width:50%; */
}
.foot-item:hover{
    border:2px solid white;
    cursor: pointer;
    background-color: white;
    color:var(--main-color);
    font-weight: bold;
}



/* new index */

#game-hub{
    /* display:flex; */
    width:720px;
    /* border:1px solid red; */
}
#row-title{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    display:flex;
    /* border:1px solid green; */
}
.game-genre{
    width:150px;
    margin:auto;
    padding:10px;
    border:1px solid white;
}

.row-set{
    /* border:1px solid blue; */
    /* width:720px; */
    text-align:center;
    display:flex;
    margin-top:10px;
}

.game-made-label{
    font-size:18px;
    line-height: 20px;
    font-weight:bold;
    text-align:center;
    border:1px solid white;
    width:80px;
    height:24px;
    margin-top:40px;
    padding:8px 2px;
}

.game-set-icon{
    width:100px;
    height:100px;
    border:2px solid #00000000;
    border-radius:5px;
    padding:5px;
    margin:auto;
    position:relative;
    /* margin:5px auto; */
}

.game-set-icon:hover{
    border:2px solid white;
    cursor: pointer;
}

.game-set-icon img{
    width:90%;
    height:90%;
    margin:auto;
}

.game_let{
    padding:0px;
    margin:0px;
    font-size:20px;
    font-weight: bold;
    color:white;
    position:absolute;
    top:5px;
    right:5px;
}